<div class="container align-items-center justify-content-center w-50 shadow-lg p-5 mb-5 mt-5 bg-light rounded">
  <h1>Editing <%= @campus_drive.name%></h1>
  
  <%= render "form", campus_drive: @campus_drive %>
  
  <br>
  
  <div>
    <%= link_to "Back to campus drives", campus_drives_path %>
  </div>
</div>
