<div class="container align-items-center justify-content-center w-60 shadow-lg p-7 mb-5 mt-5 bg-light rounded">
  <h1>Create a New Paper</h1>
  
  <%=render "form", paper:@paper %>
  
  <%= link_to 'Back', user_path(current_user) %>
</div>
