<div class="container align-items-center justify-content-center w-50 shadow-lg p-5 mb-5 mt-5 bg-light rounded">

  <h1>New Question</h1>
  
  <%=render "form", question:@question %>
  
  <%= link_to 'Back', user_path(current_user) %>
</div>
