<div class="container align-items-center justify-content-center w-50 shadow-lg p-5 mb-5 mt-5 bg-light rounded">

<h1>Edit Test</h1>

<%= render 'form', test: @test %>

<%= link_to 'Back', user_test_index_path %>

</div>