<div class="container align-items-center justify-content-center w-50 shadow-lg p-5 mb-5 mt-5 bg-light rounded">
  <h1> Creating New Job</h1>
  
  <%= render "form", job: @job %>
  
  <br>
  
  <div>
    <%= link_to "Back to Jobs", job_index_path %>
  </div>
</div>
