html,
body {
  height: 100%;
  font-family: "Andika", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Andika", sans-serif;
}

main {
  padding-left: 20px;
  font-family: "Andika", sans-serif;
  background-color: #ebf2ff;
  padding-right: 20px;
  flex: 1;
}

footer {
  margin-top: auto;
}


