<div class="container align-items-center justify-content-center w-50">
  <h1>Test Submission Successful</h1>
  <p>Congratulations! You have successfully submitted the test.</p>
  <h3>Your Report card will be sent to your mailid after sometime.</h3>
  <%= link_to "Go to Home", root_path, class: "btn btn-primary" %>
</div>
